body {
  width: 100%;
  height: 100%;
  position: relative;
}

.scroller {
  position: absolute;
  inset: 0;
  overflow: scroll;
}

.scroller-content {
  width: 100%;
  height: 200%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px 10px;
}

.card.draggable {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
