body {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 100%;
  height: 100%;
  display: flex;
}

.layout {
  width: 100%;
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

.draggables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.draggable {
  position: relative;
}

.scroll-container {
  height: 320px;
  border: 1.5px solid var(--theme-color);
  border-radius: 8px;
  overflow: auto;
  background-color: var(--bg-color);
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.droppable {
  width: 100%;
  height: 64px;
  background-color: var(--bg-color);
  border-radius: 7px;
  border: 1.5px solid var(--theme-color);
  transition:
    border-color 0.2s ease-out,
    box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;
  box-shadow:
    0 0 0 2px transparent,
    0 0 0 3.5px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.droppable.draggable-over {
  border-color: var(--card-bgColor--focus);
  box-shadow:
    0 0 0 2px var(--bg-color),
    0 0 0 3.5px var(--card-bgColor--focus);
}

.droppable.draggable-dropped {
  border-color: var(--card-bgColor--drag);
}
