body {
  flex-flow: column;
  justify-content: safe center;
  align-items: normal;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
}

.draggables, .droppables {
  flex-flow: row;
  place-content: safe center;
  align-items: safe center;
  gap: 10px;
  width: 100%;
  display: flex;
}

.card.draggable {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

.droppable {
  background-color: var(--bg-color);
  border: 1.5px solid var(--theme-color);
  border-radius: 7px;
  width: 100px;
  height: 100px;
  transition: border-color .2s ease-out, box-shadow .2s ease-out;
  box-shadow: 0 0 0 2px #0000, 0 0 0 3.5px #0000;

  &.draggable-dropped {
    border-color: var(--card-bgColor--drag);
    box-shadow: 0 0 0 2px #0000, 0 0 0 3.5px #0000;
  }

  &.draggable-over {
    border-color: var(--card-bgColor--focus);
    box-shadow: 0 0 0 2px var(--bg-color), 0 0 0 3.5px var(--card-bgColor--focus);
  }
}

@media (width < 430px) {
  .card.draggable, .droppable {
    aspect-ratio: 1;
    width: calc(25% - 12.5px);
    height: auto;
  }
}
