node_modules
cache
logs
*.log
*.err
*.env
*.DS_Store
.cursorrules

# Build outputs
dist

# Generated example files
packages/dragdoll-docs/docs/public/examples
packages/dragdoll-docs/docs/public/react-examples
