body {
  height: 300%;
}

.drag-container {
  position: fixed;
  left: 10px;
  top: 10px;
}

.draggable {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
