:root {
  --vp-c-brand-1: #ff5555;
  --vp-c-brand-2: #ff5555;
  --vp-c-brand-3: #ff5555;
  --vp-code-color: #7cbdff;
  --vp-c-bg: #111;
  --vp-c-bg-alt: #000;
  --vp-c-bg-elv: #111;
  --vp-c-bg-soft: #111;
  --vp-c-red-soft: rgb(255 2 0 / 50%);
  --vp-nav-logo-height: 48px;
}

/* Info block */
.custom-block.info {
  background-color: #1c2535;

  & code {
    &:not(a > &) {
      color: var(--vp-code-color);
    }
  }
}

/* Nav bar */
.VPNavBar {
  /* Logo */
  & .VPNavBarTitle {
    --vp-c-divider: transparent;
  }

  /* Search button */
  & .VPNavBarSearch {
    & .DocSearch-Button {
      background: transparent !important;
    }
  }

  /* Social links */
  & .VPSocialLinks {
    @media (min-width: 768px) {
      & {
        display: flex !important;
        align-items: center !important;
      }
    }

    &::before {
      display: none !important;
    }

    & a {
      width: 50px !important;

      &[href="https://github.com/sponsors/niklasramo"]
      {
        color: #1da344;
        transition:
          color 0.2s ease-out,
          transform 0.2s ease-out;

        &:hover,
        &:focus {
          color: #1cd551;
          transform: scale(1.2);
          transition:
            color 0.15s ease-out,
            transform 0.15s ease-out;
        }
      }

      & > svg,
      & > span {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

  & .VPNavBarExtra {
    display: none !important;
  }
}

/*  Search modal */
.VPLocalSearchBox {
  & .backdrop {
    backdrop-filter: blur(4px) grayscale(1);
  }

  & .result {
    border: 0 !important;
    color: var(--vp-c-text-2) !important;

    .titles mark,
    .excerpt mark {
      border-radius: 0px !important;
      background-color: inherit !important;
      color: inherit !important;
      padding: 0 !important;
      text-decoration: underline !important;
      text-decoration-color: var(--vp-c-brand-1) !important;
      text-underline-offset: 3px !important;
    }

    &.selected {
      background-color: #222 !important;

      & .titles.titles {
        color: var(--vp-c-text-1) !important;
      }
    }
  }
}

/* Dropdown menus */
.VPMenu {
  padding: 4px !important;
}

/* Sidebar */
.VPSidebar {
  --vp-c-divider: transparent;

  padding-bottom: 0 !important;

  @media (min-width: 960px) {
    .curtain {
      margin-left: -68px !important;
    }
  }

  & nav {
    padding-bottom: 20px;
  }

  & .VPSidebarItem.level-0 {
    padding-bottom: 8px;
  }

  /* Don't allow text go to two lines. */
  & .VPLink,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    & > :first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .VPSidebarItem.level-0 > .item > .text {
    color: #f9ff9e !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
  }

  & .VPSidebarItem.is-link > .item > .link > .text {
    color: var(--vp-c-text-2) !important;
  }

  & .VPSidebarItem.is-link > .item > .link:hover > .text,
  & .VPSidebarItem.is-link > .item > .link:focus > .text {
    color: var(--vp-c-text-1) !important;
  }

  & .VPSidebarItem.is-link.is-active > .item > .link > .text {
    color: var(--vp-c-brand-1) !important;
  }

  & .indicator {
    top: calc(50% - 0.75px);
    bottom: auto;
    right: auto;
    left: -202px;
    width: 200px;
    height: 1.5px;
    border-radius: 0;

    .VPSidebarItem.is-active > .item > & {
      background-color: var(--vp-c-brand-1);
    }
  }
}

/* Content area */
.VPDoc {
  /* "On this page" menu */
  & .aside {
    --vp-c-divider: transparent;
  }

  /* Main content */
  & .content {
    & .example {
      position: relative;

      & iframe {
        width: 100%;
        height: 300px;
        border: 1px solid var(--vp-c-brand-1);
        border-radius: 8px;
      }

      & .example-link {
        position: absolute;
        right: 5px;
        top: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        border-radius: 5px;

        background: var(--vp-c-bg);
        color: var(--vp-c-text-2);
        text-decoration: none;

        &:hover {
          background: var(--vp-c-bg);
          color: var(--vp-c-brand-1);
        }

        & svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

/* Footer */
.VPFooter {
  padding: 64px 0 !important;
  margin-top: -128px !important;
  pointer-events: none !important;
  border: 0 !important;
  background: transparent !important;
  display: block !important;
  @media (min-width: 960px) and (max-width: 1279px) {
    margin-left: var(--vp-sidebar-width);
  }

  & .container {
    max-width: 600px !important;
    pointer-events: auto !important;
  }
}
