:root {
  --vp-c-brand-1: #ff5555;
  --vp-c-brand-2: #ff5555;
  --vp-c-brand-3: #ff5555;
  --vp-code-color: #7cbdff;
  --vp-nav-logo-height: 32px;
}
.VPFeatures .VPFeature {
  position: relative;
  padding-left: 34px;
}
.VPFeatures .VPFeature .icon {
  position: absolute;
  align-items: baseline;
  margin: 0;
  margin-left: -60px;
  border-radius: 0px;
  background-color: transparent;
  width: 60px;
  font-size: 24px;
}
