:root {
  --vp-c-brand-1: #ff5555;
  --vp-c-brand-2: #ff5555;
  --vp-c-brand-3: #ff5555;
  --vp-code-color: #7cbdff;
  --vp-c-bg: #111;
  --vp-c-bg-alt: #000;
  --vp-c-bg-elv: #111;
  --vp-c-bg-soft: #111;
  --vp-nav-logo-height: 24px;
}

.custom-block.info {
  background-color: #1c2535;
}

.VPNavBarSearch {
  .DocSearch-Button {
    background: transparent !important;

    @media (min-width: 768px) {
      &:hover {
        border-color: #222 !important;
      }
    }
  }
}

.VPLocalSearchBox {
  & .backdrop {
    backdrop-filter: blur(4px) grayscale(1);
  }

  & .search-bar:focus-within {
    border-color: #444 !important;
  }

  & .result {
    border: 0 !important;
    color: var(--vp-c-text-2) !important;

    .titles mark,
    .excerpt mark {
      border-radius: 0px !important;
      background-color: inherit !important;
      color: inherit !important;
      padding: 0 !important;
      text-decoration: underline !important;
      text-decoration-color: var(--vp-c-brand-1) !important;
      text-underline-offset: 3px !important;
    }

    &.selected {
      background-color: #171717 !important;

      & .titles.titles {
        color: var(--vp-c-text-1) !important;
      }
    }
  }
}

.VPMenu {
  padding: 4px !important;
}

.VPNavBarTitle {
  --vp-c-divider: transparent;
}

.VPSocialLinks {
  @media (min-width: 768px) {
    & {
      display: flex !important;
      align-items: center !important;
    }
  }

  &::before {
    display: none !important;
  }

  & a {
    width: 50px !important;

    &[href="https://github.com/sponsors/niklasramo"]
    {
      color: #1da344;
      transition:
        color 0.2s ease-out,
        transform 0.2s ease-out;

      &:hover,
      &:focus {
        color: #1cd551;
        transform: scale(1.2);
        transition:
          color 0.15s ease-out,
          transform 0.15s ease-out;
      }
    }

    & > svg,
    & > span {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.VPNavBarExtra {
  display: none !important;
}

.VPFeatures .VPFeature {
  position: relative;
  padding-left: 34px;

  & .icon {
    position: absolute;
    align-items: baseline;
    margin: 0;
    margin-left: -60px;
    border-radius: 0px;
    background-color: transparent;
    width: 60px;
    font-size: 24px;
  }
}

.VPSidebar {
  --vp-c-divider: transparent;

  padding-bottom: 0 !important;

  @media (min-width: 960px) {
    .curtain {
      margin-left: -68px !important;
    }
  }

  .VPSidebarItem.level-0 {
    padding-bottom: 8px;
  }

  & .VPLink,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    & > :first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .VPSidebarItem.level-1.is-active > .item > .indicator {
    background-color: var(--vp-c-brand-1);
  }

  & .indicator {
    top: calc(50% - 0.75px);
    bottom: auto;
    right: auto;
    left: -202px;
    width: 200px;
    height: 1.5px;
    border-radius: 0;
  }
}

.aside {
  --vp-c-divider: transparent;
}

/* Landing page */

*:has(.landing):not(.landing) {
  height: 100%;
  overflow: hidden;
}

body:has(.landing) {
  background-color: #000;
}

*:has(> .landing) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  position: relative;
  height: 90svh;
  width: 80svw;
  max-width: 800px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  & h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max(10%, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    color: #f9ff9e;
  }

  & .logo {
    max-width: 100%;
    max-height: min(80%, 100% - 120px, 800px);
  }

  & nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: max(10%, 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    & ul {
      display: flex;
      height: 100%;
      padding: 0;
      margin: 0;

      & li {
        margin: 0;
        padding: 0;
        height: 100%;

        & a {
          position: relative;
          display: inline-flex;
          height: 100%;
          padding: 0 20px;
          align-items: center;
          justify-content: center;
          transition: color 0.3s;
          font-size: 1.2rem;
          color: #f9ff9e;
          text-decoration: none;

          &:hover {
            color: var(--vp-c-brand-1);
          }

          &:focus {
            outline: none;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--vp-c-brand-1);
            opacity: 0;
            transform: scale(0, 1) rotate(0deg);
            transition:
              transform 0.3s,
              opacity 0.3s;
            border-radius: 100%;
          }

          &:focus-visible::after {
            transform: scale(1, 1) rotate(-3deg);
            opacity: 1;
          }
        }
      }
    }
  }
}
