body {
  flex-flow: column;
  justify-content: center;
  align-items: normal;
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
}

.draggables, .droppables {
  flex-flow: wrap;
  place-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  display: flex;
}

.card.draggable {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

.droppable {
  background-color: var(--bg-color);
  border: 1.5px solid var(--theme-color);
  border-radius: 7px;
  width: 100px;
  height: 100px;

  &.draggable-over, &.draggable-dropped {
    background-color: var(--theme-color);
  }
}
