body {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  position: relative;
}

.scroll-list {
  background: #ffffff1a;
  border-radius: 7px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  gap: 20px;
  width: 260px;
  height: min(520px, 100%);
  padding: 20px;
  display: grid;
  position: relative;
  overflow: hidden scroll;
}

.droppable {
  aspect-ratio: 1;
  background-color: var(--bg-color);
  border: 1.5px solid var(--theme-color);
  border-radius: 17px;
  width: 100%;
  min-width: 0;
  transition: border-color .2s ease-out, box-shadow .2s ease-out;
  position: relative;
  box-shadow: 0 0 0 2px #0000, 0 0 0 3.5px #0000;

  &[data-draggable-over] {
    border-color: var(--card-bgColor--focus);
    box-shadow: 0 0 0 2px var(--bg-color), 0 0 0 3.5px var(--card-bgColor--focus);
  }
}

.card.draggable {
  z-index: 100;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;

  &.animate {
    transition: transform .3s cubic-bezier(.33, .975, 0, 1.65);
  }
}
