body {
  height: 300%;
  overflow-y: auto;
}

.drag-container-outer {
  transform-origin: 17px 37px;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(.3)skew(10deg, 10deg);
}

.drag-container {
  transform-origin: 27px 47px;
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  transform: scale(.7)skew(10deg, 10deg);
}

.card-container-outer {
  position: absolute;
  inset: 0;
  transform: scale(1.2);
}

.card-container {
  position: absolute;
  inset: 0;
  transform: scale(.5)skew(-5deg, -5deg);
}

.card.draggable {
  transform-origin: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%)scale(1.2);
}
