body {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 100%;
  display: flex;
}

.layout {
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  width: 100%;
  max-width: 960px;
  display: grid;
}

.draggables {
  justify-content: center;
  align-items: center;
  display: flex;
}

.card.draggable {
  position: relative;
}

.scroll-container {
  border: 1.5px solid var(--theme-color);
  background-color: var(--bg-color);
  border-radius: 8px;
  height: 320px;
  padding: 10px;
  overflow: auto;
}

.list {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.droppable {
  background-color: var(--bg-color);
  border: 1.5px solid var(--theme-color);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  transition: border-color .2s ease-out, box-shadow .2s ease-out, background-color .2s ease-out;
  display: flex;
  box-shadow: 0 0 0 2px #0000, 0 0 0 3.5px #0000;
}

.droppable.draggable-over {
  border-color: var(--card-bgColor--focus);
  box-shadow: 0 0 0 2px var(--bg-color), 0 0 0 3.5px var(--card-bgColor--focus);
}

.droppable.draggable-dropped {
  border-color: var(--card-bgColor--drag);
}
