name: Publish to npm
on:
  release:
    types: [published]
jobs:
  build:
    if: startsWith(github.event.release.tag_name, 'dragdoll@')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build
      - run: npm publish --workspace=dragdoll
